

.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .comic-relief-regular {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .comic-relief-bold {
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
  }

  @keyframes titleanim {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

  header {

    padding-top: 50px;
    padding-bottom: 50px;
    font-size: x-large;
    font-family: "Comic Relief", sans-serif;
    background-image: url('wapapa.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  h1 {
    animation-name: titleanim;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-align: center;
    -webkit-text-stroke: 2px black;
    color: white;
  }

  div {
    font-family: "Comic Relief", sans-serif;
    font-weight: bolder;
    font-size: x-large;
    padding-bottom: 25px;
    padding-top: 35px;
    padding-left: 50px;
    text-align: left;
  }